body{ 
    margin:0; /*removing the space between the body and nav bar on all pages*/
    background:white; /*Setting all pages background color to pink*/
    min-height:100vh;  /*Helps sticky footer stick to bottom*/ 
    display: flex;
    flex-direction: column;
}
.navigation {
    display: flex; /* defining a flex container (row is the default(no need to specify direction)*/
    z-index: 2;
    height: 40px;
} 
.icon-image { 
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}
.links {
    color: black; /*setting the text within the parent element (.Navigation) to blue */
    font-family:monospace;
    text-decoration: none;
    font-size: 20px;
}
ul.links-ul { 
   display: none; 
}
nav:hover ul.links-ul { 
    display: flex;
    flex-direction: row;
    flex-grow:1; 
    justify-content: space-evenly;
}   
footer {
    color: black;
    background: #f7c8e0;
    position: sticky;
    bottom: 0;
    height: 40px;
    text-align: center;
    font-family:monospace;
    font-size: 20px;
    top:100%;
}

/*Small devices (phones) */
@media only screen and (max-width:600px) {
    .links {
        font-size:11px;
    }
    nav ul.links-ul li a:active {
        display: flex;
        flex-direction: row;
    }

    footer{
        font-size:10px;
        height:20px;
    }
}
 
/*medium devices (tablets */
@media only screen and (min-width:601px) and (max-width:900px) {
    .navigation {
        height:40px;
    }
    .links {
        font-size: 15px;
    }
    footer {
        font-size:20px;
    }
}


